<a href="https://colab.research.google.com/github/avinashkumar18/Lab/blob/main/DWDM/basic_python_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST**

Create list

In [21]:
_list_ = [] 
print(_list_)
# list containg values with multiple datatypes
_list_ = [1, 2, 3, 'hello', 3.132] 
print(_list_)

[]
[1, 2, 3, 'hello', 3.132]

Insert elements

In [22]:
_list_.append([5,6])
print(_list_)
_list_.extend([8,9])
print(_list_)
_list_.insert(3,4)
print(_list_)

[1, 2, 3, 'hello', 3.132, [5, 6]]
[1, 2, 3, 'hello', 3.132, [5, 6], 8, 9]
[1, 2, 3, 4, 'hello', 3.132, [5, 6], 8, 9]

Accessing elements

In [23]:
#access all elements
print(_list_)
#access at index
print(_list_[5])
#access range
print(_list_[2:6])
#reverse
print(_list_[::-1])

[1, 2, 3, 4, 'hello', 3.132, [5, 6], 8, 9]
3.132
[3, 4, 'hello', 3.132]
[9, 8, [5, 6], 3.132, 'hello', 4, 3, 2, 1]

In [24]:
print("length is", len(_list_))
print("index of a particular value",_list_.index('hello'))
print("count of element",_list_.count(5))
l=[6,5,9,2,1]
print("sorted order",sorted(l))
print("original list",l)
l.sort()
print("after sort", l)

length is 9
index of a particular value 4
count of element 0
sorted order [1, 2, 5, 6, 9]
original list [6, 5, 9, 2, 1]
after sort [1, 2, 5, 6, 9]

Delete elements

In [25]:
#delete element of value
_list_.remove(3.132)
print(_list_)
#delete element at index
del _list_[4]
print(_list_)
#pop element at index
_list_.pop(2)
print(_list_)
#clear entire list
_list_.clear()
print(_list_)

[1, 2, 3, 4, 'hello', [5, 6], 8, 9]
[1, 2, 3, 4, [5, 6], 8, 9]
[1, 2, 4, [5, 6], 8, 9]
[]

**TUPLE**

Create tuple

In [26]:
_tuple_ =(1, 2, 3, 'hello', 3.14)
print(_tuple_)

(1, 2, 3, 'hello', 3.14)

Append elements

In [33]:
_tuple_ = _tuple_ + (1.6,'world',7,['tuples','element'])
print(_tuple_)

(1, 2, 3, 'hello', 3.14, 1.6, 'world', 7, 1.6, 'world', 7, ['tuples', 'element'])

Traversing through tuples

In [34]:
print(_tuple_[4])
print(_tuple_,'\n', _tuple_[:])
print(_tuple_[6][4])
for itr in _tuple_:
  print(itr)

3.14
(1, 2, 3, 'hello', 3.14, 1.6, 'world', 7, 1.6, 'world', 7, ['tuples', 'element'])
 (1, 2, 3, 'hello', 3.14, 1.6, 'world', 7, 1.6, 'world', 7, ['tuples', 'element'])
d
1
2
3
hello
3.14
1.6
world
7
1.6
world
7
['tuples', 'element']

In [37]:
print(_tuple_.count('world'))
_tuple_[11][1] = 'modified'
print(_tuple_)
print(_tuple_.index(1.6))

2
(1, 2, 3, 'hello', 3.14, 1.6, 'world', 7, 1.6, 'world', 7, ['tuples', 'modified'])
5

Delete elements

In [38]:
print(_tuple_)
temp = list(_tuple_)
temp.remove('world')
_tuple_ = tuple(temp)
print(_tuple_)
temp.clear()
_tuple_ = tuple(temp)
print(_tuple_)

(1, 2, 3, 'hello', 3.14, 1.6, 'world', 7, 1.6, 'world', 7, ['tuples', 'modified'])
(1, 2, 3, 'hello', 3.14, 1.6, 7, 1.6, 'world', 7, ['tuples', 'modified'])
()

**SET**

Create set

In [49]:
_set_ = {5,4,6,2,1,-1,2,3,4,5,0,0}
print(_set_)

{0, 1, 2, 3, 4, 5, 6, -1}

Add element

In [51]:
_set_.add(7)
_set_.add(-9)
print(_set_)

{0, 1, 2, 3, 4, 5, 6, 7, -9, -1}

Set operations

In [53]:
_set_2 = {-2,-3,-4,0}
print(_set_ | _set_2) #union
print(_set_ & _set_2) #intersection
print(_set_ - _set_2) #difference
print(_set_ ^ _set_2) #symmetric difference

{0, 1, 2, 3, 4, 5, 6, 7, -2, -9, -4, -3, -1}
{0}
{1, 2, 3, 4, 5, 6, 7, -9, -1}
{1, 2, 3, 4, 5, 6, 7, -1, -9, -4, -3, -2}

Delete element

In [54]:
_set_.remove(-9)
print(_set_)
_set_.clear()
print(_set_)

{0, 1, 2, 3, 4, 5, 6, 7, -1}
set()