<a href="https://colab.research.google.com/github/avinashkumar18/Lab/blob/main/DWDM/text_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup as soup 
from urllib.request import urlopen as uReq
import requests
import pandas as pd

In [2]:
page_url = "https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Tamil_Nadu"

In [3]:
http_response = requests.get(page_url)
http_response

In [4]:
uClient = uReq(page_url)
page_soup = soup(uClient.read(), "html.parser")
uClient.close()

In [5]:
container1 = page_soup.findAll("tr", {"id": "mw-customcollapsible-l21"})

In [6]:
len(container1)

21

In [7]:
output_1 = "covid_19_cases_TN.csv"
output_2 = "Cases_By_District.csv"
output_3 = "Number_Samples_Tested_per_week.csv"

**TABLE 1**

In [8]:
header1 = "S_no,Date,Active_Cases,Total_Recoveries,Total_Deaths,Total_cases\n"

In [9]:
def find_substring( s, first, last ):
  start = s.rindex( first ) + len( first )
  end = s.rindex( last, start )
  return s[start:end]

In [10]:
count=0
f = open(output_1, "w")
f.write(header1)
for container in container1:
    count+=1
    date = container.findAll("td", {"colspan": "2"})[0].text.strip()
    d = container.findAll("div")
    s1=str(d)
    txt=s1.split("</div>, <div class")
    first='="'
    last='">'
    total_death = find_substring(txt[0],first,last).strip()
    total_recoveries = find_substring(txt[1],first,last).strip()
    active_cases = find_substring(txt[2],first,last).strip()
    total_cases = container.findAll("span", {"class": "cbs-ibr"})[0].text.replace(',','').strip()

    print(count)
    c=str(count)
    print("date: ", date)
    print("total_death: ", total_death)
    print("total_recoveries: ", total_recoveries)
    print("active_cases: ", active_cases)
    print("total_cases: ", total_cases)
    print("\n\n")

    # writes the dataset to file
    f.write(c + ", " + date + ", " + active_cases + ", " + total_recoveries + ", " +
    total_death + ", " + total_cases + "\n")
f.close()

1
date:  2020-09-01
total_death:  7418
total_recoveries:  374172
active_cases:  52379
total_cases:  433969



2
date:  2020-09-02
total_death:  7516
total_recoveries:  380063
active_cases:  52380
total_cases:  439959



3
date:  2020-09-03
total_death:  7608
total_recoveries:  386173
active_cases:  52070
total_cases:  445851



4
date:  2020-09-04
total_death:  7687
total_recoveries:  392507
active_cases:  51633
total_cases:  451827



5
date:  2020-09-05
total_death:  7748
total_recoveries:  398366
active_cases:  51583
total_cases:  457697



6
date:  2020-09-06
total_death:  7836
total_recoveries:  404186
active_cases:  51458
total_cases:  463480



7
date:  2020-09-07
total_death:  7925
total_recoveries:  410116
active_cases:  51215
total_cases:  469256



8
date:  2020-09-08
total_death:  8012
total_recoveries:  416715
active_cases:  50213
total_cases:  474940



9
date:  2020-09-09
total_death:  8090
total_recoveries:  423231
active_cases:  49203
total_cases:  480524



10
date:  2020-09-10
total_death:  8154
total_recoveries:  429416
active_cases:  48482
total_cases:  486052



11
date:  2020-09-11
total_death:  8231
total_recoveries:  435422
active_cases:  47918
total_cases:  491571



12
date:  2020-09-12
total_death:  8307
total_recoveries:  441649
active_cases:  47110
total_cases:  497066



13
date:  2020-09-13
total_death:  8381
total_recoveries:  447366
active_cases:  47012
total_cases:  502759



14
date:  2020-09-14
total_death:  8434
total_recoveries:  453165
active_cases:  46912
total_cases:  508511



15
date:  2020-09-15
total_death:  8502
total_recoveries:  458900
active_cases:  46806
total_cases:  514208



16
date:  2020-09-16
total_death:  8559
total_recoveries:  464668
active_cases:  46633
total_cases:  519860



17
date:  2020-09-17
total_death:  8618
total_recoveries:  470192
active_cases:  46610
total_cases:  525420



18
date:  2020-09-18
total_death:  8685
total_recoveries:  475717
active_cases:  46506
total_cases:  530908



19
date:  2020-09-19
total_death:  8751
total_recoveries:  481273
active_cases:  46453
total_cases:  536477



20
date:  2020-09-20
total_death:  8811
total_recoveries:  486479
active_cases:  46703
total_cases:  541993



21
date:  2020-09-21
total_death:  8871
total_recoveries:  491971
active_cases:  46495
total_cases:  547337

**TABLE 2**

In [11]:
cases_by_district = page_soup.find("div", attrs={"id":"covid19-container"}).find("table")
rows=cases_by_district.findAll("tr")[3:40]

In [12]:
header2 = "S_no,District,Diagnosed_Cases,Deaths,Recovered_cases,Active_Cases,Population,CasesPerMillion\n"

In [13]:
count=0
f = open(output_2, "w")
f.write(header2)
for row in rows:
  data_point = row.findAll("td")
  district = data_point[0].find("a").text.replace(',','').strip()
  diagnosed = data_point[1].text.replace(',','').strip()
  deaths = data_point[2].text.replace(',','').strip()
  recovered = data_point[3].text.replace(',','').strip()
  active = data_point[4].text.replace(',','').strip()
  pop=data_point[5].text.strip()
  if len(pop) is 0:
    population = "N/A"
  else:
    population = pop.replace(',','')
  cpm = data_point[6].text.replace(',','').strip()
  count+=1
  c=str(count)
  print(c)
  print("district: ",district)
  print("diagnosed: ",diagnosed)
  print("deaths: ",deaths)
  print("recovered: ",recovered)
  print("active: ",active)
  print("population: ",population)
  print("cpm: ",cpm)
  print("\n\n")
  f.write(c + ", " + district + ", " + diagnosed + ", " + deaths + ", " +
    recovered + ", " + active + ", " + population + ", " + cpm + "\n")
f.close()

1
district:  Ariyalur
diagnosed:  3517
deaths:  38
recovered:  3292
active:  187
population:  754894
cpm:  4658.93



2
district:  Chengalpattu
diagnosed:  32799
deaths:  523
recovered:  29852
active:  2424
population:  N/A
cpm:  12830.93



3
district:  Chennai
diagnosed:  156625
deaths:  3074
recovered:  143680
active:  9871
population:  4646732
cpm:  33706.48



4
district:  Coimbatore
diagnosed:  26562
deaths:  388
recovered:  21699
active:  4475
population:  3458045
cpm:  7681.22



5
district:  Cuddalore
diagnosed:  18301
deaths:  203
recovered:  15890
active:  2208
population:  2605914
cpm:  7022.87



6
district:  Dharmapuri
diagnosed:  6660
deaths:  55
recovered:  6596
active:  9
population:  1506843
cpm:  4419.84



7
district:  Dindigul
diagnosed:  8451
deaths:  154
recovered:  7700
active:  597
population:  2159775
cpm:  3912.91



8
district:  Erode
diagnosed:  5628
deaths:  72
recovered:  4412
active:  1144
population:  2251744
cpm:  2499.40



9
district:  Kallakurichi
diagnosed:  8759
deaths:  92
recovered:  7798
active:  869
population:  1370281
cpm:  6392.12



10
district:  Kancheepuram
diagnosed:  20594
deaths:  298
recovered:  19235
active:  1061
population:  1166401
cpm:  17656.02



11
district:  Kanyakumari
diagnosed:  11883
deaths:  215
recovered:  11037
active:  631
population:  1870374
cpm:  6353.27



12
district:  Karur
diagnosed:  2627
deaths:  36
recovered:  2119
active:  472
population:  1064493
cpm:  2467.84



13
district:  Krishnagiri
diagnosed:  3838
deaths:  51
recovered:  2951
active:  836
population:  1883731
cpm:  2037.45



14
district:  Madurai
diagnosed:  15963
deaths:  379
recovered:  14792
active:  792
population:  3038252
cpm:  5254.01



15
district:  Nagapattinam
diagnosed:  4814
deaths:  75
recovered:  3795
active:  944
population:  1616450
cpm:  2978.13



16
district:  Namakkal
diagnosed:  4263
deaths:  61
recovered:  3268
active:  934
population:  1726601
cpm:  2469.01



17
district:  Nilgiris
diagnosed:  3090
deaths:  20
recovered:  2346
active:  724
population:  735394
cpm:  4201.83



18
district:  Perambalur
diagnosed:  1669
deaths:  20
recovered:  1547
active:  102
population:  565223
cpm:  2952.82



19
district:  Pudukkottai
diagnosed:  8254
deaths:  124
recovered:  7313
active:  817
population:  1618345
cpm:  5100.27



20
district:  Ramanathapuram
diagnosed:  5393
deaths:  115
recovered:  5048
active:  230
population:  1353445
cpm:  3984.65



21
district:  Ranipet
diagnosed:  12695
deaths:  152
recovered:  12003
active:  540
population:  1210277
cpm:  10489.33



22
district:  Salem
diagnosed:  16790
deaths:  264
recovered:  14266
active:  2260
population:  3482056
cpm:  4821.86



23
district:  Sivagangai
diagnosed:  4840
deaths:  116
recovered:  4445
active:  279
population:  1339101
cpm:  3614.37



24
district:  Tenkasi
diagnosed:  6861
deaths:  126
recovered:  6095
active:  640
population:  1407627
cpm:  4874.16



25
district:  Thanjavur
diagnosed:  9495
deaths:  148
recovered:  8204
active:  1143
population:  2405890
cpm:  3946.56



26
district:  Theni
diagnosed:  14277
deaths:  168
recovered:  13562
active:  547
population:  1245899
cpm:  11459.20



27
district:  Tirunelveli
diagnosed:  11898
deaths:  194
recovered:  10742
active:  962
population:  1665253
cpm:  7144.86



28
district:  Tirupattur
diagnosed:  4383
deaths:  81
recovered:  3664
active:  638
population:  1111812
cpm:  3942.21



29
district:  Tiruppur
diagnosed:  6220
deaths:  95
recovered:  4535
active:  1590
population:  2479052
cpm:  2509.02



30
district:  Tiruvallur
diagnosed:  30352
deaths:  522
recovered:  28110
active:  1720
population:  3728104
cpm:  8141.40



31
district:  Tiruvannamalai
diagnosed:  14311
deaths:  208
recovered:  12900
active:  1203
population:  2494875
cpm:  5736.16



32
district:  Tiruvarur
diagnosed:  6194
deaths:  66
recovered:  5301
active:  827
population:  1264277
cpm:  4899.24



33
district:  Tiruchirappalli
diagnosed:  9633
deaths:  141
recovered:  8725
active:  767
population:  2722290
cpm:  3538.56



34
district:  Thoothukudi
diagnosed:  12956
deaths:  120
recovered:  12033
active:  803
population:  1750176
cpm:  7402.68



35
district:  Vellore
diagnosed:  13651
deaths:  209
recovered:  12526
active:  916
population:  1614242
cpm:  8456.60



36
district:  Villuppuram
diagnosed:  10525
deaths:  92
recovered:  9449
active:  984
population:  2093003
cpm:  5028.66



37
district:  Virudhunagar
diagnosed:  14066
deaths:  208
recovered:  13542
active:  316
population:  1942288
cpm:  7241.97

**TABLE 3**

In [14]:
samples_tested=page_soup.find('table',attrs={'class':'multicol','role':'presentation'}).find('table')
samples_tested = samples_tested.find("tbody")

In [15]:
samples_rows = samples_tested.find_all('tr')[1:]

In [16]:
weeks=[]
new_tests=[]
posi=[]
pper=[]
cum=[]

In [17]:
for row in samples_rows:
  container3=row.find_all("td")
  weeks.append(row.find("th").text.strip())
  new_tests.append(container3[0].text.strip())
  posi.append(container3[1].text.strip())
  pper.append(container3[2].text.strip())
  cum.append(container3[3].text.strip())

In [18]:
Number_Samples_Tested_per_week={
    'WEEK':weeks,
    'NEW_TESTS':new_tests,
    'POSITIVE':posi,
    'POSITIVE_PERCENTAGE':pper,
    'CUMULATIVE_TESTS':cum
}

In [19]:
table3_data = pd.DataFrame(Number_Samples_Tested_per_week)

In [20]:
table3_data.to_csv(output_3)

In [21]:
table1_data=pd.read_csv("covid_19_cases_TN.csv")
table1_data

    S_no         Date  ...  Total_Deaths  Total_cases
0      1   2020-09-01  ...          7418       433969
1      2   2020-09-02  ...          7516       439959
2      3   2020-09-03  ...          7608       445851
3      4   2020-09-04  ...          7687       451827
4      5   2020-09-05  ...          7748       457697
5      6   2020-09-06  ...          7836       463480
6      7   2020-09-07  ...          7925       469256
7      8   2020-09-08  ...          8012       474940
8      9   2020-09-09  ...          8090       480524
9     10   2020-09-10  ...          8154       486052
10    11   2020-09-11  ...          8231       491571
11    12   2020-09-12  ...          8307       497066
12    13   2020-09-13  ...          8381       502759
13    14   2020-09-14  ...          8434       508511
14    15   2020-09-15  ...          8502       514208
15    16   2020-09-16  ...          8559       519860
16    17   2020-09-17  ...          8618       525420
17    18   2020-09-18  ...          8685       530908
18    19   2020-09-19  ...          8751       536477
19    20   2020-09-20  ...          8811       541993
20    21   2020-09-21  ...          8871       547337

[21 rows x 6 columns]

In [22]:
table2_data=pd.read_csv("Cases_By_District.csv")
table2_data

    S_no          District  ...  Population  CasesPerMillion
0      1          Ariyalur  ...      754894          4658.93
1      2      Chengalpattu  ...         N/A         12830.93
2      3           Chennai  ...     4646732         33706.48
3      4        Coimbatore  ...     3458045          7681.22
4      5         Cuddalore  ...     2605914          7022.87
5      6        Dharmapuri  ...     1506843          4419.84
6      7          Dindigul  ...     2159775          3912.91
7      8             Erode  ...     2251744          2499.40
8      9      Kallakurichi  ...     1370281          6392.12
9     10      Kancheepuram  ...     1166401         17656.02
10    11       Kanyakumari  ...     1870374          6353.27
11    12             Karur  ...     1064493          2467.84
12    13       Krishnagiri  ...     1883731          2037.45
13    14           Madurai  ...     3038252          5254.01
14    15      Nagapattinam  ...     1616450          2978.13
15    16          Namakkal  ...     1726601          2469.01
16    17          Nilgiris  ...      735394          4201.83
17    18        Perambalur  ...      565223          2952.82
18    19       Pudukkottai  ...     1618345          5100.27
19    20    Ramanathapuram  ...     1353445          3984.65
20    21           Ranipet  ...     1210277         10489.33
21    22             Salem  ...     3482056          4821.86
22    23        Sivagangai  ...     1339101          3614.37
23    24           Tenkasi  ...     1407627          4874.16
24    25         Thanjavur  ...     2405890          3946.56
25    26             Theni  ...     1245899         11459.20
26    27       Tirunelveli  ...     1665253          7144.86
27    28        Tirupattur  ...     1111812          3942.21
28    29          Tiruppur  ...     2479052          2509.02
29    30        Tiruvallur  ...     3728104          8141.40
30    31    Tiruvannamalai  ...     2494875          5736.16
31    32         Tiruvarur  ...     1264277          4899.24
32    33   Tiruchirappalli  ...     2722290          3538.56
33    34       Thoothukudi  ...     1750176          7402.68
34    35           Vellore  ...     1614242          8456.60
35    36       Villuppuram  ...     2093003          5028.66
36    37      Virudhunagar  ...     1942288          7241.97

[37 rows x 8 columns]

In [23]:
table3_data

                WEEK NEW_TESTS POSITIVE POSITIVE_PERCENTAGE CUMULATIVE_TESTS
0       Till 8 March        63        1                1.59               63
1         915 March        35        0                0.00               98
2        1622 March       454        8                1.76              552
3        2329 March     1,488       58                3.90            2,040
4   30 March5 April     2,975      554               18.62            5,015
5         612 April     7,731      552                7.14           12,746
6        1319 April    28,130      304                1.08           40,876
7        2026 April    46,729      408                0.87           87,605
8     27 April3 May    62,502    1,138                1.82          150,107
9           410 May    92,930    4,181                4.50          243,037
10         1117 May    83,683    4,020                4.80          326,720
11         1824 May    82,895    5,053                6.10          409,615
12         2531 May    82,347    6,056                7.35          491,962
13          17 June   101,008    9,334                9.24          592,970
14         814 June   117,629   12,994               11.05          710,599
15        1521 June   182,013   14,716                8.08          892,612
16        2228 June   217,790   22,898               10.51        1,110,402