<a href="https://colab.research.google.com/github/avinashkumar18/Lab/blob/main/DWDM/text_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from bs4 import BeautifulSoup as soup 
from urllib.request import urlopen as uReq
import requests

In [16]:
page_url = "https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Tamil_Nadu"

In [17]:
http_response = requests.get(page_url)
http_response

In [18]:
uClient = uReq(page_url)
page_soup = soup(uClient.read(), "html.parser")
uClient.close()

In [35]:
container1 = page_soup.findAll("tr", {"id": "mw-customcollapsible-l21"})

In [48]:
container1[1]

<tr class="mw-collapsible" id="mw-customcollapsible-l21">
<td class="bb-04em" colspan="2" style="text-align:center">2020-09-02</td>
<td class="bb-lr">
<div class="bb-fl" style="background:#A50026;width:3.65px" title="7516">​</div>
<div class="bb-fl" style="background:SkyBlue;width:184.71px" title="380063">​</div>
<div class="bb-fl" style="background:Tomato;width:25.46px" title="52380">​</div>
</td>
<td class="bb-04em" style="text-align:center"><span class="cbs-ibr" style="padding:0 0.3em 0 0; width:4.55em">439,959</span><span class="cbs-ibl" style="width:4.55em">(+1.38%)</span></td>
<td class="bb-04em" style="text-align:center"><span class="cbs-ibr" style="padding:0 0.3em 0 0; width:3.5em">7,516</span><span class="cbs-ibl" style="width:4.55em">(+1.32%)</span></td>
</tr>

In [36]:
len(container1)

21

In [33]:
output_1 = "table1.csv"
output_2 = "table2.csv"
output_3 = "table3.csv"

**TABLE 1**

In [37]:
header1 = "S_no,Date,Active_Cases,Total_Recoveries,Total_Deaths,Total_cases\n"

In [120]:
def find_substring( s, first, last ):
  start = s.rindex( first ) + len( first )
  end = s.rindex( last, start )
  return s[start:end]

In [153]:
count=0
f = open(output_1, "w")
f.write(header1)
for container in container1:
    count+=1
    date = container.findAll("td", {"colspan": "2"})[0].text.strip()
    d = container.findAll("div")
    s1=str(d)
    txt=s1.split("</div>, <div class")
    first='="'
    last='">'
    total_death = find_substring(txt[0],first,last).strip()
    total_recoveries = find_substring(txt[1],first,last).strip()
    active_cases = find_substring(txt[2],first,last).strip()
    total_cases = container.findAll("span", {"class": "cbs-ibr"})[0].text.replace(',','').strip()

    print(count)
    c=str(count)
    print("date: ", date)
    print("total_death: ", total_death)
    print("total_recoveries: ", total_recoveries)
    print("active_cases: ", active_cases)
    print("total_cases: ", total_cases)
    print("\n\n")

    # writes the dataset to file
    f.write(c + ", " + date + ", " + active_cases + ", " + total_recoveries + ", " +
    total_death + ", " + total_cases + "\n")
f.close()

1
date:  2020-09-01
total_death:  7418
total_recoveries:  374172
active_cases:  52379
total_cases:  433969



2
date:  2020-09-02
total_death:  7516
total_recoveries:  380063
active_cases:  52380
total_cases:  439959



3
date:  2020-09-03
total_death:  7608
total_recoveries:  386173
active_cases:  52070
total_cases:  445851



4
date:  2020-09-04
total_death:  7687
total_recoveries:  392507
active_cases:  51633
total_cases:  451827



5
date:  2020-09-05
total_death:  7748
total_recoveries:  398366
active_cases:  51583
total_cases:  457697



6
date:  2020-09-06
total_death:  7836
total_recoveries:  404186
active_cases:  51458
total_cases:  463480



7
date:  2020-09-07
total_death:  7925
total_recoveries:  410116
active_cases:  51215
total_cases:  469256



8
date:  2020-09-08
total_death:  8012
total_recoveries:  416715
active_cases:  50213
total_cases:  474940



9
date:  2020-09-09
total_death:  8090
total_recoveries:  423231
active_cases:  49203
total_cases:  480524



10
date:  2020-09-10
total_death:  8154
total_recoveries:  429416
active_cases:  48482
total_cases:  486052



11
date:  2020-09-11
total_death:  8231
total_recoveries:  435422
active_cases:  47918
total_cases:  491571



12
date:  2020-09-12
total_death:  8307
total_recoveries:  441649
active_cases:  47110
total_cases:  497066



13
date:  2020-09-13
total_death:  8381
total_recoveries:  447366
active_cases:  47012
total_cases:  502759



14
date:  2020-09-14
total_death:  8434
total_recoveries:  453165
active_cases:  46912
total_cases:  508511



15
date:  2020-09-15
total_death:  8502
total_recoveries:  458900
active_cases:  46806
total_cases:  514208



16
date:  2020-09-16
total_death:  8559
total_recoveries:  464668
active_cases:  46633
total_cases:  519860



17
date:  2020-09-17
total_death:  8618
total_recoveries:  470192
active_cases:  46610
total_cases:  525420



18
date:  2020-09-18
total_death:  8685
total_recoveries:  475717
active_cases:  46506
total_cases:  530908



19
date:  2020-09-19
total_death:  8751
total_recoveries:  481273
active_cases:  46453
total_cases:  536477



20
date:  2020-09-20
total_death:  8811
total_recoveries:  486479
active_cases:  46703
total_cases:  541993



21
date:  2020-09-21
total_death:  8871
total_recoveries:  491971
active_cases:  46495
total_cases:  547337