<a href="https://colab.research.google.com/github/avinashkumar18/Lab/blob/main/MLT_Lab/20MAI0035_DA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Github Link](https://github.com/avinashkumar18/Lab/blob/main/MLT_Lab/20MAI0035_DA_1.ipynb)

In [11]:
import numpy as np
import pandas as pd

In [12]:
url="https://raw.githubusercontent.com/avinashkumar18/Lab/main/MLT_Lab/placement_data.csv"

In [13]:
df=pd.read_csv(url)

**Dataset Info**

The dataset provided is about whether the student gets a good job and the employee who already has a job gets better job. Few dependent variables like the course that the person completed, where he/she is staying and daily travel of the person is considered to predit the outcome

In [14]:
df.head()

  Description  ... chances of getting good job
0     Student  ...                         Yes
1    Employee  ...                         Yes
2     Student  ...                         Yes
3     Student  ...                          No
4     Student  ...                         Yes

[5 rows x 7 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Description                  10 non-null     int64
 1   location                     10 non-null     object
 2   Studying_Engineering?        10 non-null     int64
 3   college_location             10 non-null     int64
 4   stay                         10 non-null     int64
 5   distance travelled everyday  10 non-null     int64
 6   chances of getting good job  10 non-null     int64
dtypes: int64(6), object(1)
memory usage: 688.0+ bytes

In [20]:
df['Description'] = df['Description'].apply(lambda Description:1 if Description=='Student' else 0)
df['Studying_Engineering?'] = df['Studying_Engineering?'].apply(lambda Studying_Engineering:1 if Studying_Engineering=='Yes' else 0)
df['college_location'] = df['college_location'].apply(lambda college_location:1 if college_location=='Vellore' else 0)
df['stay'] = df['stay'].apply(lambda stay:1 if stay=='Home' else 0)
df['chances of getting good job'] = df['chances of getting good job'].apply(lambda job:1 if job=='Yes' else 0)

In [27]:
X = df.drop(['chances of getting good job','location'],axis=1)
Y = df['chances of getting good job']

In [28]:
from sklearn .model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 25)

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [32]:
logit =LogisticRegression()
Y_pred_logit = logit.fit(X_train, Y_train).predict(X_test)

In [33]:
decision_tree = DecisionTreeClassifier()
Y_pred_D_tree = decision_tree.fit(X_train, Y_train).predict(X_test)

In [34]:
gnb = GaussianNB()
Y_pred_gauss = gnb.fit(X_train, Y_train).predict(X_test)

In [38]:
from sklearn.metrics import confusion_matrix
logit_confusion_matrix = confusion_matrix(Y_test, Y_pred_logit)
d_tree_confusion_matrix = confusion_matrix(Y_test, Y_pred_D_tree)
gauss_confusion_matrix = confusion_matrix(Y_test, Y_pred_gauss)
print(logit_confusion_matrix, d_tree_confusion_matrix, gauss_confusion_matrix)

[[0 2]
 [0 1]] [[0 2]
 [0 1]] [[0 2]
 [0 1]]

In [39]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_pred_logit))
print(accuracy_score(Y_test, Y_pred_D_tree))
print(accuracy_score(Y_test, Y_pred_gauss))

0.3333333333333333
0.3333333333333333
0.3333333333333333