<a href="https://colab.research.google.com/github/avinashkumar18/Lab/blob/main/DWDM/DA%202/Association_rule_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What Is Association Rule Mining?**


Association rule mining is a technique to identify frequent patterns and associations among a set of items.

**What is Apriori algorithm?**

The Apriori algorithm uses frequent itemsets to generate association rules, and it is designed to work on the databases that contain transactions.

**How Does the Apriori Algorithm Work?**


The key concept in the Apriori algorithm is that it assumes all subsets of a frequent itemset to be frequent. Similarly, for any infrequent itemset, all its supersets must also be infrequent.

**Key concepts of apriori algorithm**

1. Support
2. Confidence
3. List
4. Conviction

**1. Support**

Support of the item x is nothing but the ratio of the number of transactions in which the item x appears to the total number of transactions.


        Support = Number of transactions in which item appears / total number of transactions

**2. Confidence**

Confidence (x => y) signifies the likelihood of the item y being purchased when the item x is purchased. This method takes into account the popularity of the item x.

**3. Lift**

Lift (x => y) is nothing but the ‘interestingness’ or the likelihood of the item y being purchased when the item x is sold. Unlike confidence (x => y), this method takes into account the popularity of the item y.

**4. Conviction**


Conviction of a rule can be defined as follows:

conv(x => y) = 1 - supply(y) / 1 - conf(x=>y)

**EXAMPLE**

In [2]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=fc345c08bda7489caf14320d59cfcb518f0a3e14bdf5da5b1cd6340a0c0e3361
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [3]:
import numpy as np
import pandas as pd
from apyori import apriori

In [4]:
url = 'https://raw.githubusercontent.com/avinashkumar18/Lab/main/DWDM/store_data.csv'
data = pd.read_csv(url)

In [5]:
data.head()

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]

In [6]:
data.shape

(7500, 20)

In [7]:
records_list = []
for row in range(0,7500):
  records_list.append([str(data.values[row,column]) for column in range(0,20)])

In [8]:
rules = apriori(records_list, min_support=0.5, min_confidence=0.7, min_lift=1.2, min_length=2)
results = list(rules)

In [9]:
print(len(results))

0

In [10]:
print(results)

[]